<article>
  <heading>
    <h1>Welcome to Proca!</h1>
  </heading>

  <section>
    <%= if @staffer != nil do %>
    <h3>Hello, <%= @user.email %></h3>
    <% else %>
    <h3>Register and sign in on the right</h3>
    <% end %>

    <p>The legacy dashboard was removed. Please use the <a href="https://www.npmjs.com/package/@proca/cli">Proca CLI</a></p>
  </section>
</article>
