<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Proca" %></title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/fontawesome/all.min.css") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/stars.css") %>"/>

    <%= csrf_meta_tag() %>
  </head>


  <body>
    <%= render "_user_menu.html", assigns %>

    <div class="w-screen block">
      <%= @inner_content %>
    </div> 

    <%= render "_stars.html", assigns %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </body>
</html>
