/* This file is for your main application css. */

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .btn {
    @apply text-white px-3 py-2 rounded-md text-sm font-normal;
  }

  div.input-wrap {
    @apply relative flex w-full flex-wrap items-stretch mb-3;
  }

  div.input-wrap > span {
    @apply z-10 h-full leading-snug font-normal absolute text-center absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3;
  }
  div.input-wrap > input {
    @apply px-3 py-3 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full pl-10;
  }

}

@layer utilities {

  .help-block {
    @apply block text-pink-800;
  }

  .alert {
    @apply bg-purple-50 lg:rounded-xl p-4 mb-4 border-0;
  }
  /* phoenix utility styles */
  /* Alerts and form errors */
  .alert-info {
    color: #31708f;
    background-color: bg-purple-100;
  }
  .alert-warning {
    color: #8a6d3b;
    background-color: bg-yellow-100;
  }
  .alert-danger {
    color: #a94442;
    background-color: bg-red-100;
  }
  .alert p {
    margin-bottom: 0;
  }
  .alert:empty {
    display: none;
  }
  .invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
  }
}
