<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Proca" %></title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/fontawesome/all.min.css") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <%= csrf_meta_tag() %>
  </head>


  <body id="page-top">
    <nav role="navigation">
      <%= render "_user_menu.html", assigns %>
    </nav>

    <!-- Page Wrapper -->
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <%= @inner_content %>
      </div>
    </div>
    <!-- End Page Wrapper -->

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
