[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
yaspin = "*"
gql = "*"
aiohttp = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.9"
